<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello World</title>

  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/lib/jquery.i18n/jquery.i18n.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/jquery.i18n/jquery.i18n.messagestore.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/jquery.i18n/jquery.i18n.fallbacks.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/jquery.i18n/jquery.i18n.language.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/jquery.i18n/jquery.i18n.parser.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/jquery.i18n/jquery.i18n.emitter.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/jquery.i18n/jquery.i18n.emitter.bidi.js') }}"></script>

  <!-- Include Webcam library to capture user webcam-->
  <script src="{{ url_for('static', filename='js/lib/webcam.js') }}"></script>
</head>

<body>
  <div class="container">

    <div class="page-header">
      <div class="row">
        <div class="col-md-1 ">
          <img src="{{ url_for('static', filename='images/money.png') }}" />
        </div>
        <div class="col-md-10 text-center">
          <h1 class="ont-weight-bold text-info"><b>Money analy$er <b><small>- By Jose Gama</small></h1>
        </div>
        <div class="col-md-1 ">
          <img src="{{ url_for('static', filename='images/money.png') }}" />
        </div>
      </div>
    </div>

    <div class="row justify-content-md-center text-center">
      <div class="col-md-6">
        <div id="container-cam">
        </div>
      </div>
      <div class="col-md-6 rigth">
        <div class="thumbnail text-center">
          <img src="{{ url_for('static', filename='images/bubble-talk.png') }}" class="img-responsive" />
          <div class="caption">
            {% if message is defined%}
            <h3>{{ message|safe }}</h3>
            {% else %}
            <h3>Hola amigo!<br>Yo soy watson.</h3>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <br>
      <a class="btn btn-primary" href="javascript:void(take_snapshot())">Analizar</a>
    </div>

    <div id="my_result">
    </div>

    <div class="row">

    </div>

  </div>

  <footer class="footer">
    <div class="container">
      <span>
        <a href="https://www.ibm.com/watson/" target="_blank">
          Powered by
          <img src="https://cogx.co/wp-content/uploads/2017/12/ibmwatsonlogo.png" height="40" width="110"/>
        </a>
      </span>
    </div>
  </footer>

</body>

<script type="text/javascript">
  // Starts and takes capture of the user camera
  Webcam.attach('#container-cam');

  function take_snapshot() {
    Webcam.snap(function(data_uri) {
      Webcam.upload(data_uri, "{{ url_for('analyse_image') }}", function(code, text) {
        window.location.href = text;
      });
    });
  }
</script>

</html>
